
/* 00 NAV BAR 1--------------------------------------------------------- */
npm i bootstrap-icons
body{
    font-family: 'Poppins', sans-serif
}

.nav-link0{
    color: #fff;
    cursor: pointer;
    margin-right: 1em !important;
}
.nav-link0:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.policepetit{
    font-size: smaller;
}
.navbar-inner{
    height: 20px;
}
.oskur{
    margin-right: 0.5%;
}


/* 01 NAV BAR 2 --------------------------------------------------------- */

.nav-link1{
    color: #3b3b3b;
    cursor: pointer;
    margin-right: 1em !important;
    font-size: larger;
}

.imarge{
    height: 30%;
    width: 30%;
    margin-left: 5%;
    margin-top: 25%;
}
.imarge_autre{
  height: 11%;
  width: 11%;
  margin-right: 2%;
}

.imarge_autres{
  height: 9%;
  width: 9%;
}

.imargeMobile
{
  height: auto;
  width: 40%;
  margin-left: 10%;
  margin-top: 20%;
}
.cebtn{
    margin-right: 5%;
    font-weight: bold;
    font-size: larger;
}
.haite{
    height: 115px
}
/* 02 BODY --------------------------------------------------------- */

.containere {
    position: relative;
    text-align: center;
  }
  /* Centered text */
.centered {
    position: relative;
    top: 110%;
    font-family: 'Anton', sans-serif;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.imgabground{
    width: 100%;
    height: auto;
    background-image:  url(image/20220826_093709.jpg);
    inset: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.image {
    display: block;
    width: 110%;
    height: auto;
  }
  
#f1  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease-out 100ms;
  }
  
#f1 .containere:hover .overlay {
    opacity: 1;
  }

#f2  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease-out 100ms;
  }
  
#f2 .containere:hover .overlay {
    opacity: 1;
  }

  #f3  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease-out 100ms;

  }
  

#f3 .containere:hover .overlay {
    opacity: 1;
  }

  #f4  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease-out 100ms;

  }
  
#f4 .containere:hover .overlay {
    opacity: 1;
  }

  #f5  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease-out 100ms;
  }
  
#f5 .containere:hover .overlay {
    opacity: 1;
  }

  #f6  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2s ease-out 100ms;
  }
  
#f6 .containere:hover .overlay {
    opacity: 1;
  }
